/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { /* stile font a tutto il body */
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    color: rgb(105, 104, 104);
}
/* classe clearfix */
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.container-flex {
    display: flex;
}

/* stile barra laterale */
aside {
    height: calc(100vh - 80px);
    width: 200px;
    float: left;
    background-color: black;
    font-size: 20px;
    position: relative;
}

aside .container-flex {
    flex-direction: column;
}

#logo, .icone-navigazione { /*stile logo*/
    display: flex;
    align-items: center;
    padding: 5px 0 5px 20px;
}

#logo {
    padding: 20px 0 0 20px;
    font-size: 15px;
    margin-bottom: 20px;
    color: white;
}

#logo i {
    font-size: 40px;
}

aside #logo h2,
aside .navbar h6 {
    padding-left: 5px;
}

aside h2,
aside h6,
aside h5 {
    font-weight: 600;
}

.contenitore-icone {
    width: 25px;
}
/* effetto on over navbar */
.icone-navigazione:hover {
    color: white;
    border-left: 3px solid rgb(166, 227, 53);
    cursor: pointer;
}
/* stile elenco-playlist */
.elenco-playlist { /* stile elenco playlist */
    display: flex;
    flex-direction: column;
    padding: 20px 0 0 20px;
}

.elenco-playlist h5 {
    font-size: 15px;
    color: white;
}

.nome-playlist {
    padding: 10px 0;
}

#crea-playlist {
    display: flex;
    align-items: center;
}

.fas.fa-plus-square {
    font-size: 30px;
    padding-right: 5px;
}

.nome-playlist:hover {
    color: white;
}

.nome-playlist i:hover {
    color: rgb(166, 227, 53);
    cursor: pointer;
}
/* stile aside-footer */
.footer-aside {
    width: 100%;
    padding: 0 20px;
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: black;
    z-index: 99;
}

.install-app {
    padding: 10px 0;
    border-bottom: 1px solid rgb(105, 104, 104);
}

.install-app:hover {
    color: white;
    cursor: pointer;
}

.user {
    color: lightgray;
    padding: 10px 0 5px;
}

.user i{
    font-size: 20px;
}

.user:hover {
    color: rgb(166, 227, 53);
    cursor: pointer;
}

/* stile main */
main {
    height: calc(100vh - 80px);
    width: calc(100% - 200px); /* calcolo larghezza main meno larghezza aside */
    float: left;
    background-color: rgb(29, 26, 37);
    overflow-y: auto;
}

/* stile footer */
footer {
    background-color: rgb(47, 46, 48);
    height: 80px;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

footer i:hover {
    color: rgb(166, 227, 53);
    cursor: pointer;
}

footer a {
    text-decoration: none;
    color: white;
}
footer a:hover {
    text-decoration: underline;
}
/* stile dettagli brano in riproduzione */
.playing-song {
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.playing-song img {
    width: 50px;
}

.titolo-brano {
    padding-left: 10px;
    font-size: 12px;
    font-weight: 600;
}
.autore-brano {
    padding-left: 10px;
    font-size: 10px;
    color: rgb(105, 104, 104);
}

.far.fa-heart {
    padding: 0 10px;
}
/* stile comandi riproduzione */
.comandi-riproduzione {
    text-align: center;
}

.comandi {
    display: flex;
    align-items: center;
    justify-content: center;
}

.comandi i {
    font-size: 15px;
    padding: 0 10px;
}

.far.fa-play-circle {
    font-size: 30px;
}
/* creazione barra di progresso */
.progress-bar {
    display: flex;
    align-items: center;
    padding-top: 5px;
}

#progress {
    background: rgb(105, 104, 104);
    border-radius: 10px;
    height: 4px;
    width: 300px;
}

#progress:after {
    content: '';
    display: block;
    background: #ececec;
    width: 50%; /* percentuale progressione brano */
    height: 100%;
    border-radius: 9px;
}

.progress-bar span {
    font-size: 10px;
    padding: 0 20px;
}

#progress:hover {
    cursor: pointer;
}
/* stile barra volume e comandi output */
.comandi-output {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.comandi-output i {
    font-size: 12px;
    padding: 10px;
}

#volume-bar:hover {
    cursor: pointer;
}

#volume-bar {
    background: rgb(105, 104, 104);
    border-radius: 10px;
    height: 4px;
    width: 80px;
}

#volume-bar:after {
    content: '';
    display: block;
    background: #ececec;
    width: 30%; /* percentuale volume */
    height: 100%;
    border-radius: 9px;
}
